<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.groceryreminder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <application
        android:name=".injection.ReminderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.reminders.RemindersActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.stores.GroceryStoresActivity"
            android:label="@string/app_name" >
        </activity>
        <meta-data android:name="google-places-api-key"
            tools:replace="android:value"
            android:value="@string/google_places_api_key_string"></meta-data>
        <provider android:name=".data.GroceryStoreLocationContentProvider"
            android:authorities="com.groceryreminder.data.GroceryStoreLocationContentProvider"
            android:enabled="true"
            android:exported="false">
        </provider>
        <provider android:name=".data.ReminderContentProvider"
            android:authorities="com.groceryreminder.data.ReminderContentProvider"
            android:enabled="true"
            android:exported="false">
        </provider>
        <service android:name=".services.GroceryLocatorService"
            android:exported="false"/>
        <receiver android:name=".services.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".services.GroceryStoreBroadcastReceiver">
            <intent-filter>
                <action android:name="com.groceryreminder.STORE_PROXIMITY_EVENT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
